<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Detail</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav.html :: navbar}"></div>

<div class="detail">
    <h4>상세페이지</h4>
    <img th:src="${data.imgUrl != null ? data.imgUrl : 'https://placehold.co/300'}" alt="Item Image" style="max-width: 300px;">
    <h4 th:text="${data.title}"></h4>
    <p th:text="${data.price + '원'}"></p>
</div>

<!--댓글 입력-->
<h4>댓글 입력</h4>
<form action="/comment" method="post">
    <input name = "content">
    <input name = "parent" th:value="${data.id}" style="display: none">
    <button type="submit">전송</button>
</form>

<!--주문 버튼-->
<h4>주문 버튼</h4>
<form action="/order" method="post">
    <input name="itemName" th:value="${data.title}">
    <input name="price" th:value="${data.price}">
    <input name="count" placeholder="count">
    <button style="text-align:left">주문하기</button>
</form>


<!-- 댓글 목록 -->
<div class="comments">
    <h4>댓글</h4>
    <div th:if="${#lists.isEmpty(comments)}">
        <p>댓글이 없습니다.</p>
    </div>
    <ul th:if="${!#lists.isEmpty(comments)}">
        <li th:each="comment : ${comments}">
            <p><b>작성자:</b> <span th:text="${comment.username}"></span></p>
            <p><b>내용:</b> <span th:text="${comment.content}"></span></p>
        </li>
    </ul>
</div>

</body>
</html>
