<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{nav.html :: navbar}"></div>
<form action="/search" method="POST">
    <input name="searchText" style="display: inline">
    <button>검색</button>
</form>


<div class="card" th:each="i:${items}">
    <img th:src="${i.imgUrl != null ? i.imgUrl : 'https://placehold.co/300'}" alt="Item Image" style="max-width: 300px;">
        <div>
            <a th:href="@{'/detail/'+${i.id}}">
                <h4 th:text ="${i.title}">상품</h4>
            </a>
            <p th:text="${i.price+'원'}">가격</p>
            <a th:href="@{'/edit/'+${i.id}}">✏️</a>
            <span th:onclick="fetch('/item?id=[[${i.id}]]',{ method : 'DELETE' })
            .then(r=>r.text())
            .then(()=>{
                location.reload();
            })
            ">🗑️</span>
        </div>
</div>
<!--button class="btn">버튼</button>
<script>
    < 버튼을 클릭하면 AJAX body 를 이용해 /test1 로 POST 요청을 보내는 코드 >
    document.querySelectorAll('.btn')[0].addEventListener('click', function (){
        fetch('/test1', {
            method: 'POST',
            headers:{'Content-Type' : 'application/json'},
            body: JSON.stringify({name: 'kim'})
        })
    })
</script!-->
<!-- 페이지 번호 링크 -->
<div class="pagination">
    <span th:each="page : ${#numbers.sequence(1, pages)}">
        <a th:href="@{'/list/page/' + ${page}}" th:text="${page}">1</a>
    </span>
</div>

</body>
</html>